#{extends 'main.html' /}
#{set title:'Alkalmazott létrehozása' /}

<h2>Alkalmazott hozzáadása.</h2>
<br />
<form action="createEmployee" method="post">
  <div>
    Keresztnév: <input type="text" name="employeeFirstName" value="${flash.employeeFirstName}"/>
    <span style="color: red">#{error 'employeeFirstName' /}</span>
  </div>
  <div>
    Vezetéknév: <input type="text" name="employeeLastName" value="${flash.employeeLastName}"/>
    <span style="color: red">#{error 'employeeLastName' /}</span>
  </div>
  <div>
    Személyi igazolvány szám: <input type="text" name="employeeIdNumber" value="${flash.employeeIdNumber}"/>
    <span style="color: red">#{error 'employeeIdNumber' /}</span>
  </div>
  <div>
    Születésnap: <input type="date" name="employeeBirthDate" value="${flash.employeeBirthDate}"/>
    <span style="color: red">#{error 'employeeBirthDate' /}</span>
  </div>
  <div>
    Fizetés: <input type="text" name="employeeSalary" value="${flash.employeeSalary}"/>
    <span style="color: red">#{error 'employeeSalary' /}</span>
  </div>
  <div>
      <label for="sel1">Feladatkör:</label>
      <select class="form-control" id="sel1" name="employeeRole">
          <option>Programozó</option>
          <option>Tesztelő</option>
          <option>Rendszergazda</option>
          <option>Manager</option>
          <option>Irodai adminisztrátor</option>
      </select>
  </div>
	<div>
        <br />
        <input type="submit" class="btn btn-primary" value="Alkalmazott hozzáadása" />
    </div>
</form>
<br />
<div><a href="/" class="btn btn-primary">Főoldal</a></div>
