#{extends 'main.html' /}
#{set title:'Cég létrehozása' /}

#{if flash.errorMessage != null}
	<div><span style="color:red">${flash.errorMessage}</span></div>
#{/if}

<h2>Cég létrehozása</h2>
<br />
<form action="createCompany" method="post">
	<div>
		Cég neve: <input type="text" name="companyName" 
								value="${flash.companyName}"/>
		<span style="color: red">#{error 'companyName' /}</span>
	</div>
	<div>
		irányítószám: <input type="text" name="addressPostcode" 
										value="${flash.addressPostcode}" />
		<span style="color: red">#{error 'addressPostcode' /}</span>
    </div>
    <div>
		Város: <input type="text" name="addressCity" 
								value="${flash.addressCity}"/>
		<span style="color: red">#{error 'addressCity' /}</span>
    </div>
    <div>
		Házszám: <input type="text" name="addressNumber" 
								value="${flash.addressNumber}"/>
		<span style="color: red">#{error 'addressNumber' /}</span>
    </div>
    <div>
		Utca: <input type="text" name="addressStreet" 
								value="${flash.addressStreet}"/>
		<span style="color: red">#{error 'addressStreet' /}</span>
    </div>
    <div>
		Adószám: <input type="text" name="companyVAT" 
								value="${flash.companyVAT}"/>
		<span style="color: red">#{error 'companyVAT' /}</span>
    </div>
	<div>
    <br />
		<input type="submit" class="btn btn-primary" value="Cég létrehozása" />
  	</div>
</form>
<br />
<div><a href="/" class="btn btn-primary">Vissza</a></div>