#{extends 'main.html' /}
#{set title:'Megtekintés' /}

<h2>${company.companyName}, Cég adatai:</h2>

<br />

<!-- <p>Cég neve: {company.companyName}</p> -->
<p>Cég adószáma: ${company.companyVAT}</p>
<p>Cég címe: ${company.companyAddress.addressPostcode} ${company.companyAddress.addressCity}, ${company.companyAddress.addressStreet} ${company.companyAddress.addressNumber}</p>

<a href="/createEmployee?companyId=${company.companyId}" class="btn btn-primary">Alkalmazott hozzáadása</a>

<!-- PH: hiányzó feladatkörök -->

<br />
#{list items:company.employees, as:'employee'}
<ul>
	<li>Neve: ${employee.employeeFirstName} ${employee.employeeLastName}</li>
	<li>Személyi igazolvány száma: ${employee.employeeIdNumber}</li>
	<li>Fizetés: ${employee.employeeSalary}</li>
	<li>Születésnap: ${employee.employeeBirthDate}</li>
	<li>Munkakör: ${employee.employeeRole}</li>
	<br/>
	<a href="deleteEmployee?employeeId=${employee.employeeId}" class="btn btn-primary">Törlés</a>
</ul>
#{/list}

<br />
<a href="/" class="btn btn-primary">Főoldal</a>