#{extends 'main.html' /}
#{set title:'Tesztelések' /}

<h1> Tesztelések!</h1>

#{if flash.errorMessage != null}
<div><span style="color: red">${flash.errorMessage}</span></div>
#{/if}

<div><a href="/createTestText">Tesztszöveg létrehozása</a></div>

<table style="margin-top: 10px;" border="1">
    <tr>
        <th>Teszt szövegek</th>
        <th>TesztValamik</th>
    </tr>
    #{if tests != null}
        #{list items:tests, as:'test'}
        <tr>
            <td>${test.testText}</td>
            <td><a href="/testDetails?testId=${tests.testId}">Teszt részletek</a></td>
        </tr>
        #{/list}
    #{/if}
</table>

Test oldal az adatbázishoz (és egyebekhez)!<br /><br />

Egy string: ${myString} <br />
Egy test string: ${testId} <br />
A pontos idő: ${dateToOutput} <br />