#{extends 'main.html' /}
#{set title:'Fejlesztő Cégek' /}

<!-- {welcome /} -->

<h1>Fejlesztő cégek nyílvántatása</h1>

<br />
<div><a href="/createCompany" class="btn btn-primary">Cég létrehozása</a></div>

#{if flash.errorMessage != null}
	<div><span style="color:red">${flash.errorMessage}</span></div>
#{/if}

<br />
<table class="table table-striped">
  <thead>
    <tr>
      <th>Cégnév</th>
      <th>Város</th>
      <th>Alkalmazottak száma</th>
      <th>Összköltség</th>
      <th>Opciók</th>
    </tr>
  </thead>
  <tbody>
      #{if companies != null}
          <!-- Ezt nem tudom miért rakta be még 1 listába, próbáltam debugolni, és a controller jól adta át, itt mégis csak így lett jó. -->
          #{list items:companies, as:'companies'}
            #{list items:companies, as:'company'}
              <tr>
                  <td>${company.companyName}</td>
                  <td>${company.companyAddress.addressCity}</td>
                  <td>Placeholder</td>
                  <td>Placeholder</td>
                  <td>
                    <a href="/viewCompany?companyId=${company.companyId}" class="btn btn-primary">Részletek</a>
                    <a href="/deleteCompany?companyId=${company.companyId}" class="btn btn-primary">Törlés</a>
                  </td>
              </tr>
              <!-- TODO cégek mellett 2 link(button) Cégek megtekintése/törlése -->
            #{/list}
      #{/list}
    #{/if}
  </tbody>
</table>